.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1140px;
    display: block;
    font-size: 10px:
}
@media only screen and (max-width:500px)
    .container{
    display-inline;    
} 

#test h1 {
    
	font-family: georgia, avenir, arial, sans-serif;
font-weight: bold;
	color: #fdcf18;
	font-size: 5em;
	text-transform: capitalize;
    text-decoration: none;
    padding-top: 1.5em;
    padding-bottom: 2em;
        
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:2;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:2;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:2;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 2;
    }
}

.foodname{
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em;
    background-color: rgba(240,248,255, 0.8);
}
.item:hover .foodname{
    font-size: 1.5em;
    color: #541828;
    display: block;
}
.image-carousel .item img{
  display: block;
  max-width: 100%;
  width: 100%; /* always stretch images to fill carousel container */
  height: auto;
}

body {
	font-family: georgia, avenir, arial, sans-serif;
	margin-left: 4em;
    margin-right: 4em;
	margin-top: 2em;
	background: #541828;
    text-decoration: none;
    margin-bottom: 4em;
}
h1 {
	font-family: georgia, avenir, arial, sans-serif;
font-weight: bold;
	color: #fdcf18;
	font-size: 20px;
	text-transform: capitalize;
    text-decoration: none;
    padding-top: 1.5em;
    padding-bottom: 2em;
}
h2 {
	font-size: 3.5em;
	color: #f27442;
    text-decoration: none;
}
h3 {
	font-size: 3.2em;
	font-weight: normal;
	color: #cad87a;
    padding-top: 1em;
    padding-bottom: -1em;
    letter-spacing: .3em;
    text-align: center;
}
h4 {
	font-size: 2.5em;
	font-weight: normal;
	color: #f27442;
}
h5 {
	font-size: 2.5em;
	font-weight: normal;
	color: #f27442;
}
h6 {
	font-size: 2em;
	font-weight: normal;
	color: #f27442;
}
p {
	font-size: 1.2em;
	line-height: 1.6;
	margin-bottom: 1.5em;
	max-width: 40em;
	color: #541828;
	background: black;
image-orientation:
    float: right;
        
    }
img{
    padding: 0em;
    }
img: hover{
    color: white;
}
footer{
    font-size: 1em;
    color: #541828;
    margin-top: 3em;
    text-align: center;
}
a{
    text-decoration: none;
    color: #fdcf18;
}
#wood burn effect {
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #222;
	font: 80px 'LeagueGothicRegular';
}