body {
	font-size: 1em;
	line-height: 1.5;
	margin-bottom: 1.5em;
    margin-left: 2em;
	max-width: 40em;
	color: deeppink;
	background: papayawhip;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;